*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
local.properties

/target
**/test-output
**/target
**/bin
build
*/build
.m2

out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

*.DS_Store